.header{
  display:flex;
  align-items:center;
  position:sticky;
  background-color:var(--white-color);
  top:0;
  height: 70px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  z-index:999;
}
.header__itemContainer{
  margin-inline:auto;
  width:min(95%,75em);
  position:relative;
  display:flex;
  align-items:center;
}
.header__left > a{
  display:flex;
  align-items:center;
}
.header__right {
  position: fixed;
  top: 0;
  right: 0;
  width:100vw;
  opacity: 0.9;
}
.header__nav{
  display:none;
}
.header__nav.open{
  display:unset;
}

.header__listContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items:center;
  height: 100vh;
  overflow: hidden;
  background-color:white;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition:all 0.4s ease-in-out;
}
.header__listContainer.open{
  transform: translateY(0);
}

.header__listItem{
  list-style-type:none;
  transform: translate(100vw);
  transition:all 0.4s ease-in-out; 
}
.header__listItem.open{
  transform:translate(0);
}
.header__link{
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 0;
  transition:all 0.4s ease-in-out;
  text-decoration:none;
  font-weight: 700;
  line-height: 27px;
  color:var(--text-color);
}
.header__bar{
  right:0;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 26px;
  cursor: pointer;
  transition:all 0.4s ease-in-out;
}
.header__bar--burger{
  position: absolute;
  top: 45%;
  width: 26px;
  height: 3px;
  background-color:var(--secondary-color);
  transition:all 0.4s ease-in-out;
}
.header__bar--burger::before{
  content: '';
  position: absolute;
  top: -8px;
  right: 0;
  width: 20px;
  height: 3px;
  background-color:var(--secondary-color);
  transition:all 0.4s ease-in-out;
}
.header__bar--burger::after{
  content: '';
  position: absolute;
  top: 8px;
  right:0;
  width: 20px;
  height: 3px;
  background-color:var(--secondary-color);
  transition:all 0.4s ease-in-out;
}

.header__bar--burger.open {
  transform: rotate(720deg);
}
.header__bar--burger.open::before{
  width:26px;
  transform: rotate(90deg) translate(8px, 0);
}
.header__bar--burger.open::after{
  background-color: transparent;
}
@media screen and (min-width: 768px){
  .header__bar{
    display:none;
  }
  .header__right{
    margin-left:auto;
    position: unset;
    width: fit-content;
    opacity: 1;
    height:70px;
    display:flex;
    align-items:center;
  }
  .header__nav{
    visibility:visible;
  }
  .header__listContainer{
    transform: initial;
    opacity:1;
    flex-flow: row wrap;
    column-gap: 1.2em;
    align-items: center;
    height: 100%;
  }
  .header__listItem{
    transform: initial;
    height:100%;
    display:flex;
    align-items:center;
    border-bottom: 4px solid transparent;
  }
  .header__listItem.active{
    border-bottom-color:var(--secondary-color);
  }
  .header__link{
    font-size: 2rem;
    padding:unset;
  }
  
  
}
/* / *  Don't add any code here. Let it be inside your folder This is for Mr Tobi. Don't tamper with his code*/ */