<<<<<<< HEAD
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
=======

>>>>>>> 1957f7bdd109ebee7a43ffd29073f2611148795c
