.app__input {
  width: min(95%, 60em);
  margin-inline: auto;
}
.app__input.switch {
  display: none;
}
.app__output.switch {
  display: none;
}
.app__output {
  margin: 2em 0;
  position: relative;
  border-radius: 2rem;
  z-index: 5;
  width: min(95%, 55em);
  text-align: center;
  box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
}
.app__closeBtn {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  opacity:0.8;
}
.app__closeBtn:hover{
  opacity:1;
}
.app__closeBtn--burger {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 20px;
  height: 2px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
.app__closeBtn--burger::before {
  content: "";
  position: absolute;
  bottom: 10%;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  background-color: #5b7083;
  transition: all 0.4s ease-in-out;
}
.app__closeBtn--burger::after {
  content: "";
  position: absolute;
  bottom: 10%;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: #5b7083;
  transition: all 0.4s ease-in-out;
}

.alert__color::placeholder {
  color: red;
}
