.redact-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.redact__content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display: grid;
}

.redact__header {
  margin-bottom: 5rem;
}

.redact__body {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-gap: 2rem;
}

.redact__body > * {
  /* border: 2px solid var(--primary-color); */
}

.redact__body .icon {
  color: var(--primary-color);
  font-size: 4rem;
  display: inline-block;
  margin-bottom: 1.4rem;
}

.redact__body .icon--blue {
  color: var(--secondary-color);
  margin-top: 5.4rem;
}

.break {
  display: block;
}

.matched__words--text,
.scrambled__words--text,
.scanned__words--text,
.execution__time--text,
.scan__words--text {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* style redact form field */
/* form styling */
.redact__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

/* style redact textarea */
.redact__textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #dadce0;
  border-radius: 1.8rem;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  resize: none;
}

.redact__textarea:focus {
  outline: 1.5px solid var(--primary-color);
  font-size: 1.2rem;
  color: #000;
}

/* style placeholder */
.redact__textarea::placeholder {
  color: var(--text-color);
  font-size: 1.2rem;
}

/* style input */
.redact__input {
  width: 100%;
  height: 100%;
  border: 1px solid #dadce0;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  resize: none;
}

.redact__input:focus {
  outline: 1.5px solid var(--primary-color);
  font-size: 1.2rem;
  color: #000;
}

.redact__input::placeholder {
  color: var(--text-color);
  font-size: 1.2rem;
}

@media (max-width: 614px) {
  .redact-section{
    height: initial;
  }
  .redact__body {
    grid-template-columns: 1fr;
  }

  .redact__left {
    grid-row: 2 / span 3;
    display: flex !important;
    align-items: flex-end;
    justify-content: space-around;
  }

  .redact__right {
    display: flex !important;
    align-items: flex-end;
    justify-content: space-around;
  }

}

/* Create a popup */



/* WHEN YOU ARE DONE WITH THE REDACTAPP RESULT PAGE,

ADD 
posiiton: relative (to the parent element) 

*/
